
/* &display=swap&subset=cyrillic-ext */

/*Поключение Шрифтов*/
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap&subset=cyrillic-ext);
@font-face {
	font-family: 'Emulogic';
	src: url('../fonts/Emulogic.eot');
	src: url('../fonts/Emulogic.eot?#iefix') format('embedded-opentype'), url('../fonts/Emulogic.woff2') format('woff2'), url('../fonts/Emulogic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
ul li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

nav, footer, header {
	display: block;
}

html, body {
	height: 100%;
	min-width:1690px;
	font-size: 100%;
	line-height: 1;
	font-size: 18px;
	font-family: 'Roboto';
	background-color: rgb(0, 0, 0);
}

a:active, a:focus { outline: none; }



/*=================ОСНОВНЫЕ ОБЩИЕ СТИЛИ=============*/

.wrapper{
	min-height: 100%;
	overflow: hidden;
	min-height: 100vh;
}

._container{
	max-width: 1690px;
	margin: 0px auto;
	padding: 0px 30px;
}

.maze{
	opacity: 0;
	animation:game-over 0.3s ease infinite alternate forwards 9.5s,
	stop-blincking 1s linear 1 forwards 24s;
}


@keyframes stop-blincking {

	0%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}




.pacman__gates{
	position: absolute;
	top: 310px;
	left: 318px;
	height:12px;
	width: 50px;
	overflow: hidden;
}
.gates{
	position: absolute;
	top: 0px;
	right:0px;
	height: 8px;
	width: 48px;
	background-color: #fff;
	animation: gates-open 4s ease-in 1 forwards running 14s ;
	overflow: hidden;
}

@keyframes gates-open{
	0%{
		right: 0;
	}
	100%{
		right: -318px;
	}
}




.pacman {
}
.pacman__container {
}
._container {
}
.pacman__body {
	min-height: 100vh;
	position: relative;
}

.pacman__tv-bezel{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1003;
}





.pacman__screen img{
	position: absolute;
	top: 90px;
	left: 123px;
	width: 1080px;
	z-index: 100;
	opacity: 0.8;
}
.pacman__under-screen img{
	position: absolute;
	top: 90px;
	left: 123px;
	width: 1080px;
	z-index: 1000;
}
.pacman__nes img{
	position: absolute;
	top: 800px;
	right: 0px;
	width: 700px;
	z-index: 2000;
	filter: brightness(0.7);
}
.pacman__cartridge img{
	position: absolute;
	top: 905px;
	right: 643px;
	z-index: 2010;
	width: 180px;
	filter: brightness(0.9);
}
/*=====================================GAME INFO MESSEGES==================================================================*/
.pacman__player-one {
	position: absolute;
	position: absolute;
	top: 270px;
	left: 50%;
	transform: translate(-50%);
	color: rgb(3, 136, 184);
	font-family:'Emulogic';
	font-size: 26px;
	opacity: 0;
	animation:game-over 0.3s ease infinite alternate forwards 0s,
	player-one-stop 0.1s linear 1 forwards 5s;
}
.pacman__ready {
	position: absolute;
	top: 415px;
	left: 50%;
	transform: translate(-50%);
	color: rgb(166, 184, 3);
	font-family:'Emulogic';
	font-size: 26px;
	opacity: 0;
	animation:game-over 0.3s ease infinite alternate forwards 0s,
	player-one-stop 0.1s linear 1 forwards 5s;
}
.pacman__hi-score{
	top:150px;
	left: 155px;
	position: absolute;
	font-family:'Emulogic';
	font-size: 24px;
	color:brown;

}
.pacman__1up{
	top:239px;
	left: 175px;
	position: absolute;
	font-family:'Emulogic';
	font-size: 24px;
	color:brown;
	opacity: 0;
	animation:game-over 0.3s ease infinite alternate forwards 0.5s;
}
.pacman__hi-score-points{
	top:194px;
	left: 225px;
	
	position: absolute;
	font-family:'Emulogic';
	font-size: 24px;
	color:whitesmoke;
}
.pacman__player-points{
	top:284px;
	left: 270px;
	
	position: absolute;
	font-family:'Emulogic';
	font-size: 24px;
	color:whitesmoke;
}
.pacman__game-over{
	position: absolute;
	top: 415px;
	left: 50%;
	transform: translate(-50%);
	color:brown;
	font-family:'Emulogic';
	font-size: 27px;
	opacity: 0;
	animation:game-over 0.3s ease infinite alternate forwards 57.2s;
}

@keyframes game-over {
	100%{
		opacity: 1;
	}
}
@keyframes player-one-stop {
	100%{
		opacity: 0;
	}
}





/*===================================FROOTS======================================================*/

.pacman__cherry img{
	position: absolute;
	top: 685px;
	left: 500px;
	width: 33px;
	opacity: 0;
	animation: cherry-appear 0.001s linear 1 forwards 20s,
	cherry-eaten 0.00000001s linear 1 forwards 41.8s;
}
.pacman__strawberry img{
	position: absolute;
	top: 242px;
	left: 872px;
	width: 30px;
	opacity: 0;
	animation: cherry-appear 0.001s linear 1 forwards 35s,
	strawberry-eaten 0.00000000011s linear 1 forwards 53.8s;
}
.pacman__cherry-point{
	position: absolute;
	top:690px;
	left: 500px;
	opacity: 0;
	position: absolute;
	font-family:'Emulogic';
	font-size: 12px;
	color: rgb(3, 136, 184);
	animation: cherry-point-appear 5s linear 1 forwards 42s;
}
.pacman__strawberry-point{
	position: absolute;
	top:247px;
	left: 865px;
	opacity: 0;
	position: absolute;
	font-family:'Emulogic';
	font-size: 12px;
	color: rgb(3, 136, 184);
	animation: cherry-point-appear 5s linear 1 forwards 54s;
}
@keyframes cherry-point-appear {
	0%{
		opacity: 0;
	}
	0.00000001%{
		opacity: 1;
	}
	99,9999999%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes cherry-appear {
	100%{
		opacity: 1;
	}
}
@keyframes cherry-eaten {
	0%{
		transform: translate(0px, 0px);
		opacity: 0;
	}
	100%{
		transform: translate(-185px, 100px);
		opacity: 1;
	}
}
@keyframes strawberry-eaten {
	0%{
		transform: translate(0px, 0px);
		opacity: 0;
	}
	100%{
		transform: translate(-595px, 538px);
		opacity: 1;
	}
}

.pacman__lifes img{
	position: absolute;
	top: 835px;
	left: 230px;
	width: 35px;
	opacity: 0;
	animation:game-over 0.3s ease infinite alternate forwards 0s,
	life-dissappear 0.000001s ease 1 forwards 57.2s;
}
.pacman__lifes_second img{
	position: absolute;
	top: 835px;
	left: 270px;
	width: 35px;
	opacity: 1;
	animation: none;
}
.pacman__lifes_third img{
	position: absolute;
	top: 835px;
	left: 310px;
	width: 35px;
	opacity: 1;
	animation: none;
}

@keyframes life-dissappear {
	100%{
		opacity: 0;
	}
}
/*===================================FROOTS======================================================*/






/*===================================GAME_FIELD======================================================*/
.packman__game-field {
	position: absolute;
	top:11%;
	left: 22%;
	width: 684px;
	height: 760px;
	overflow: hidden;
}
.packman__game-field .field{
	position: absolute;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.packman__game-field .maze{
	position: absolute;
	top:5px;
	width: 99.6%;
	height: 99.17%;
}


/*===================================GAME_FIELD======================================================*/













/*=========================================ENEMIES====================================================*/
.pacman__enemies {
}
.enemy {
	position: absolute;
	width: 30px;
	height: 33px;
	
}
.enemy img{
	position: absolute;
	width:100%;
	height:100%;
	object-fit: cover;
	z-index: 3;
	filter: invert(0);
	animation:enemy-blinking 0.6s ease infinite alternate forwards 16s,
	stop-blincking-enemy 1s linear 1 forwards 24s;
}
@keyframes enemy-blinking{
	100%{
		filter: invert(1);
	}
}





@keyframes stop-blincking-enemy {

	0%{
		filter: invert(0);
	}
	100%{
		filter: invert(0);
	}
}




.enemy_red {
	top:348px;
	left: 300px;
	animation:ghost-shake 2s ease-in 20 alternate running 0s,
	red-move 9s linear 1 forwards 17.5s,
	red-move-infinite 22s linear infinite forwards 27s,
	red-stop 6000s linear 1 forwards 57.2s;
	position: absolute;
	z-index: 4;
}
.enemy_blue {
	top:354px;
	left: 290px;
	animation:ghost-shake 2s ease-in 20 alternate running 1s,
	blue-move 6.5s linear 1 forwards 15.5s,
	blue-move-infinite 9.3s linear infinite forwards 22s,
	blue-stop 6000s linear 1 forwards 57.2s;
	position: absolute;
	z-index: 666;
}
.enemy_yellow {
	top:344px;
	left: 335px;
	animation:ghost-shake 2s ease-in 20 alternate running 1.5s,
	yellow-move 18s linear 1 forwards 16.5s,
	yellow-move-infinite 16s linear infinite forwards 34s, 
	yellow-stop 6000s linear 1 forwards 57.2s;
	position: absolute;
	z-index: 5;

}
.enemy_pink {
	top:349px;
	left: 355px;
	transform: rotateY(-180deg);
	animation:ghost-shake-pink 2s ease-in 20 alternate running 0.5s,
	pinky-move 6.5s linear 1 forwards 14.5s,
	pinky-alive 18s linear 1 forwards 23s,
	pinky-square-move 11.6s linear 100 forwards 37.4s,
	pinky-stop 6000s linear 1 forwards 57.2s;
	position: absolute;
	z-index: 7;
}
.pacman__enemy-eyes img{
	position: absolute;
	top: 350px;
	left: 146px;
	width: 20px;
	opacity: 0;
	animation:eyes-appear 2s linear 1 forwards 21s ;
}

@keyframes eyes-appear {
	0%{
		opacity: 1;
		transform: translate(0px, 0px);
	}
	25%{
		transform: translate(75px, 0px);
	}
	50%{
		transform: translate(75px, -70px);
	}
	75%{
		transform: translate(180px, -70px);
	}
	99.99999%{
		opacity: 1;
		transform: translate(180px, 0px);
	}
	100%{
		opacity: 0;
		transform: translate(140px, 0px);
	}
}


/*========================ENEMIES ANIMATION============================================================*/

@keyframes ghost-shake{
	0% {transform: translate(0px, 0px);}
	100% {transform:translate(0px, -16px);}
}
@keyframes ghost-shake-pink{
	0% {transform: translate(0px, 0px) rotateY(-180deg);}
	100% {transform:translate(0px, -16px) rotateY(-180deg);}
}
/*========================ENEMIY MOVMENT ANIMATION============================================================*/

@keyframes pinky-move{
	0%{
		transform: translate(0px, 0px) rotateY(-180deg);
	}
	12%{
		transform: translate(-30px, 0px) rotateY(-180deg);
	}
	33.999%{
		transform: translate(-30px, -80px) rotateY(-180deg);
	}
	34%{
		transform: translate(-30px, -80px) rotateY(-180deg);
	}
	56%{
		transform: translate(-140px, -80px) rotateY(-180deg);
	}
	78%{
		transform: translate(-140px, -10px) rotateY(-180deg);
	}
	100%{
		transform: translate(-215px, -10px) rotateY(-180deg);
		visibility: hidden;
	}
}
@keyframes pinky-alive {
	0%{
		transform: translate(-30px,-20px) rotateY(-180deg);
		visibility: visible;
	}
	5%{
		transform: translate(-30px,-80px) rotateY(-180deg);
		
	}
	10%{
		transform: translate(-65px,-80px) rotateY(-180deg);
		
	}
	17%{
		transform: translate(-65px,-155px) rotateY(-180deg);
		
	}
	23.9999%{
		transform: translate(-140px,-155px) rotateY(-180deg);
		
	}
	24%{
		transform: translate(-140px,-155px) rotateY(0deg);
		
	}
	31%{
		transform: translate(-140px,-230px) rotateY(0deg);
		
	}
	38%{
		transform: translate(-65px,-230px) rotateY(0deg);
		
	}
	45%{
		transform: translate(-65px,-325px) rotateY(0deg);
	}
	45.000001%{
		transform: translate(-65px,-325px) rotateY(-180deg);
	}
	66%{
		transform: translate(-335px,-325px) rotateY(-180deg);
	}
	66.00001%{
		transform: translate(-335px,-325px) rotateY(0deg);
	}
	80%{
		transform: translate(-335px,-230px) rotateY(0deg);
		visibility: hidden;
	}
	100%{
		transform: translate(-335px,-230px);
		visibility: hidden;
	}
}
@keyframes pinky-square-move {
	0%{
		transform: translate(-335px,-230px) rotateY(0deg);
		visibility: visible;
	}
	35%{
		transform: translate(-65px,-230px) rotateY(0deg);
	}

	49.9999%{
		transform: translate(-65px,-325px) rotateY(0deg);
	}
	50%{
		transform: translate(-65px,-325px) rotateY(-180deg);
	}
	85%{
		transform: translate(-335px,-325px) rotateY(-180deg);
	}
	100%{
		transform: translate(-335px,-230px) rotateY(-180deg);
	}
	
}
@keyframes pinky-stop{
	0%{
		transform: translate(-230px, -325px) rotateY(-180deg);
	}
	100%{
		transform: translate(-230px, -325px) rotateY(-180deg);
	}
}

@keyframes yellow-move{
	0%{
		transform: translate(0px, 0px);
	}
	7%{
		transform: translate(0px, -75px);
	}
	14%{
		transform: translate(100px, -75px);
	}
	21%{
		transform: translate(100px, 0px);
	}
	28%{
		transform: translate(175px, 0px);
	}
	51%{
		transform: translate(175px, 290px);

	}
	59%{
		transform: translate(300px, 290px);

	}
	64.999%{
		transform: translate(300px, 365px) rotateY(0deg);
	}
	65%{
		transform: translate(300px, 365px) rotateY(-180deg);
	}

	100%{
		transform: translate(-315px, 365px) rotateY(-180deg);
	}
}
@keyframes yellow-move-infinite{
	0%{
		transform: translate(-315px, 365px) rotateY(-180deg);
	}
	0.0000001%{
		transform: translate(-315px, 365px) rotateY(0deg);
	}
	49.9999%{
		transform: translate(300px, 365px) rotateY(0deg);
	}
	50%{
		transform: translate(300px, 365px) rotateY(-180deg);
	}
	99.9999%{
		transform: translate(-315px, 365px) rotateY(-180deg);
	}
	99.99999%{
		transform: translate(-315px, 365px) rotateY(0deg);
	}
	100%{
		transform: translate(-315px, 365px) rotateY(-180deg);
	}
}
@keyframes yellow-stop{
	0%{
		transform: translate(245px, 365px);
	}
	100%{
		transform: translate(245px, 365px);
	}
}
@keyframes blue-move{
	0%{
		transform: translate(0px, 0px);
	}
	8%{
		transform: translate(37px, 0px);
	}

	26%{
		transform: translate(37px, -85px);
	}
	44%{
		transform: translate(148px, -85px);
	}
	62%{
		transform: translate(148px, -13px);
	}
	100%{
		transform: translate(400px, -13px);
	}
}
@keyframes blue-move-infinite {
	0%{
		transform: translate(-300px, -13px);
	}
	25%{
		transform: translate(-73px, -13px);
	}

	35%{
		transform: translate(-73px, -85px);
	}
	60%{
		transform: translate(148px, -85px);
	}
	70%{
		transform: translate(148px, -13px);
	}
	100%{
		transform: translate(400px, -13px);
	}
}
@keyframes blue-stop {
	0%{
		transform: translate(222px, -13px);
	}
	100%{
		transform: translate(222px, -13px);
	}
}
@keyframes red-move{
	0%{
		transform: translate(0px, 0px);
	}
	7%{
		transform: translate(30px, 0px);
	}
	21%{
		transform: translate(30px, -80px) rotateY(0deg);
	}
	21.00001%{
		transform: translate(30px, -80px) rotateY(-180deg);
	}
	35%{
		transform: translate(-85px, -80px) rotateY(-180deg);
	}
	59%{
		transform: translate(-85px, 140px) rotateY(-180deg);
	}
	59.000001%{
		transform: translate(-85px, 140px) rotateY(0deg);
	}
	71%{
		transform: translate(-10px, 140px) rotateY(0deg);
	}
	83%{
		transform: translate(-10px, 213px) rotateY(0deg);
	}
	83.000001%{
		transform: translate(-10px, 213px) rotateY(-180deg);
	}
	100%{
		transform: translate(-155px, 213px) rotateY(-180deg);
	}
}
@keyframes red-move-infinite{
	0%{
		transform: translate(-155px, 213px);
	}
	30%{
		transform: translate(-155px, -230px);
	}
	50%{
		transform: translate(212px, -230px) ;
	}
	80%{
		transform: translate(212px, 213px);
	}
	80.000011%{
		transform: translate(212px, 213px) rotateY(-180deg);
	}
	100%{
		transform: translate(-155px, 213px) rotateY(-180deg) ;
	}
}
@keyframes red-stop{
	0%{
		transform: translate(-20px, -230px);
	}
	100%{
		transform: translate(-20px, -230px);
	}

}




/*=========================================ENEMIES====================================================*/



/*+++++++++++++++++++++++++++++++++++++++++PACMAN-HERO+++++++++++++++++++++++++++++++++++++++++++++++++++*/


.pacman__hero{
	position: absolute;
	top: 561px;
	left: 138px;
	background-color: yellow;
	animation: pacman-moving-forward 4.5s linear 1 forwards 1s,
	pacman-moving-down 1s linear 1 forwards 5.5s,
	pacman-moving-forward-2 1s linear 1 forwards 6.5s,
	pacman-moving-up 1s linear 1 forwards 7.5s,
	pacman-moving-forward-3 1s linear 1 forwards 8.3s,
	pacman-moving-up-2 1s linear 1 forwards 9.3s,
	pacman-angry 30s linear 1 forwards 9.5s,
	pacman-moving-back 3.5s linear 1 forwards 10.3s,
	pacman-moving-down-2 1s linear 1 forwards 13.8s,
	pacman-moving-back-2 3s linear 1 forwards 14.8s,
	pacman-moving-square 24s linear infinite forwards 17.8s,
	pacman-dead 0.0000001s linear 1 forwards 57.2s;

}

.hero{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	z-index: 10;
}

.hero__eye {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	top: 4px;
	right: 10px;
	background: black;
	z-index: 11;
}

.hero__mouth{
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	clip-path: polygon(105% 74%, 38% 48%, 105% 21%);
	animation: pacman-eat 0.7s infinite 0s,
	pacman-angry-eat 0.2s 150 9.8s;
	
}

/*+++++++++++++++++++++++++++++++++++++++++PACMAN-HERO+++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*=========================================PACMAN EATING ANIMATION==================================*/
@keyframes pacman-eat {
	0% {
	clip-path: polygon(105% 74%, 38% 48%, 105% 21%);
	}
	25% {
	clip-path: polygon(105% 60%, 38% 48%, 105% 40%);
	}
	50% {
	clip-path: polygon(105% 50%, 38% 48%, 105% 50%);
	}
	75% {
	clip-path: polygon(105% 59%, 38% 48%, 105% 35%);
	}
	100% {
	clip-path: polygon(105% 74%, 38% 48%, 105% 21%);
	}
}
@keyframes pacman-angry-eat {
	0% {
	clip-path: polygon(105% 74%, 38% 48%, 105% 21%);
	}
	25% {
	clip-path: polygon(105% 60%, 38% 48%, 105% 40%);
	}
	50% {
	clip-path: polygon(105% 50%, 38% 48%, 105% 50%);
	}
	75% {
	clip-path: polygon(105% 59%, 38% 48%, 105% 35%);
	}
	100% {
	clip-path: polygon(105% 74%, 38% 48%, 105% 21%);
	}
}
@keyframes pacman-angry {
	0%{
		background-color: rgb(255, 139, 31);
	}
	99%{
		background-color: rgb(255, 139, 31);
		
	}
	100%{
		background-color: yellow;
	}
	
}

/*=========================================PACMAN EATING ANIMATION==================================*/


/*+++++++++++++++++++++++++++++++++++++++++PACMAN MOVING ANIMATION+++++++++++++++++++++++++++++++++++++++++++++++++++*/

@keyframes pacman-moving-forward {
	0%{
		transform: translate(0px, 0px);
	}
	100%{
		transform: translate(372px, 0px);
	}
}
@keyframes pacman-moving-down {
	0%{
		transform: translate(372px, 0px) rotate(90deg);
	}
	100%{
		transform: translate(372px, 70px)rotate(90deg) ;
	}
}


@keyframes pacman-moving-forward-2 {
	0%{
		transform: translate(372px, 70px);
	}
	100%{
		transform: translate(442px, 70px);
	}
}
@keyframes pacman-moving-up {
	0%{
		transform: translate(442px, 70px) rotate(-90deg);
	}
	100%{
		transform: translate(442px, 0px) rotate(-90deg);
	}
}
@keyframes pacman-moving-forward-3 {
	0%{
		transform: translate(442px, 0px) rotate(0deg);
	}
	100%{
		transform: translate(494px, 0px) rotate(0deg);
	}
}
@keyframes pacman-moving-up-2 {
	0%{
		transform: translate(494px, 0px) rotate(-90deg);
	}
	100%{
		transform: translate(494px, -70px) rotate(-90deg);
	}
}
@keyframes pacman-moving-back {
	0%{
		transform: translate(494px, -70px) rotateX(0deg) rotateY(180deg);
	}
	100%{
		transform: translate(224px, -70px) rotateX(0deg) rotateY(180deg);
	}
}
@keyframes pacman-moving-down-2 {
	0%{
		transform: translate(224px, -70px) rotateZ(-90deg) rotateY(180deg);
	}
	100%{
		transform: translate(224px, 0px) rotateZ(-90deg) rotateY(180deg);
	}
}
@keyframes pacman-moving-back-2 {
	0%{
		transform: translate(224px, 0px) rotateZ(0deg) rotateY(180deg);
	}
	100%{
		transform: translate(0px, 0px) rotateZ(0deg) rotateY(180deg);
	}
}
@keyframes pacman-moving-square {
	0%{
		transform: translate(0px, 0px) rotate(-90deg) ;
	}
	29.99%{
		transform: translate(0px, -440px) rotate(-90deg);
	}
	30%{
		transform: translate(0px, -440px) rotate(0deg);
	}
	49.99%{
		transform: translate(372px, -440px) rotate(0deg);
	}
	50%{
		transform: translate(372px, -440px) rotate(90deg) ;
	}
	79.99%{
		transform: translate(372px, 0px) rotate(90deg) ;
	}
	80%{
		transform: translate(372px, 0px) rotate(0deg) rotateY(180deg);
	}
	99.99%{
		transform: translate(0px, 0px) rotate(0deg) rotateY(180deg);
	}
	100%{
		transform: translate(0px, 0px) ;
	}
}

@keyframes pacman-dead {
	0%{
		;
	}
	100%{
		opacity: 0;
	}
}



/*+++++++++++++++++++++++++++++++++++++++++PACMAN MOVING ANIMATION+++++++++++++++++++++++++++++++++++++++++++++++++++*/




/*=========================================DOTS=======================================================*/

.dot {
	background-color: #fff;
	width: 8px;
	height: 8px;
	border-radius: 2.5px;
}


.dots-map {
	margin: 37px auto 29px;
	width: 627px;
	height: 692px;
	position: relative;
}

.floor {
	position: absolute;
	left: 0;
	display: grid;
	width: 627px;
	grid-template: 1fr / repeat(26, 8px);
	justify-content: space-between;
}



/*================================1=======================*/
.floor_1st{
	bottom: 0;
}
/*================================2=======================*/
.floor_2nd{
	bottom: 24px;
}
.floor_2nd .floor__dot{
	visibility: hidden;
}
.floor_2nd .floor__dot:last-child,
.floor_2nd .floor__dot:first-child,
.floor_2nd .floor__dot:nth-child(12),
.floor_2nd .floor__dot:nth-child(15){
	visibility: visible;
}
/*================================3=======================*/
.floor_3rd{
	bottom: 49px;
}
.floor_3rd .floor__dot{
	visibility: hidden;
}
.floor_3rd .floor__dot:last-child,
.floor_3rd .floor__dot:first-child,
.floor_3rd .floor__dot:nth-child(12),
.floor_3rd .floor__dot:nth-child(15){
	visibility: visible;
}
/*================================4=======================*/
.floor_4th{
	bottom: 73px;
}
.floor_4th .floor__dot{
	visibility: visible;
}
.floor_4th .floor__dot:nth-child(7),
.floor_4th .floor__dot:nth-child(8),
.floor_4th .floor__dot:nth-child(13),
.floor_4th .floor__dot:nth-child(14),
.floor_4th .floor__dot:nth-child(19),
.floor_4th .floor__dot:nth-child(20){
	visibility: hidden;
}
.floor_4th .floor__dot:nth-child(21){
	animation: dots-hide 1s linear 5.7s forwards;
}
.floor_4th .floor__dot:nth-child(22){
	animation: dots-hide 1s linear 6.0s forwards;
}
.floor_4th .floor__dot:nth-child(23){
	animation: dots-hide 1s linear 6.3s forwards;
}
.floor_4th .floor__dot:nth-child(24){
	animation: dots-hide 1s linear 6.6s forwards;
}
/*================================5=======================*/
.floor_5th{
	bottom: 98px;
}
.floor_5th .floor__dot{
	visibility: hidden;
}
.floor_5th .floor__dot:nth-child(3),
.floor_5th .floor__dot:nth-child(6),
.floor_5th .floor__dot:nth-child(9),
.floor_5th .floor__dot:nth-child(18),
.floor_5th .floor__dot:nth-child(21),
.floor_5th .floor__dot:nth-child(24){
	visibility: visible;
}
.floor_5th .floor__dot:nth-child(21){
	animation: dots-hide 1s linear 5.4s forwards;
}
.floor_5th .floor__dot:nth-child(24){
	animation: dots-hide 1s linear 6.9s forwards;
}
/*================================6=======================*/
.floor_6th{
	bottom: 122px;
}
.floor_6th .floor__dot{
	visibility: hidden;
}
.floor_6th .floor__dot:nth-child(3),
.floor_6th .floor__dot:nth-child(6),
.floor_6th .floor__dot:nth-child(9),
.floor_6th .floor__dot:nth-child(18),
.floor_6th .floor__dot:nth-child(21),
.floor_6th .floor__dot:nth-child(24){
	visibility: visible;
}
.floor_6th .floor__dot:nth-child(21){
	animation: dots-hide 1s linear 5.1s forwards;
}
.floor_6th .floor__dot:nth-child(24){
	animation: dots-hide 1s linear 7.2s forwards;
}
/*================================7=======================*/
.floor_7th{
	bottom: 147px;
}
.floor_7th .floor__dot{
	visibility: visible;
}
.floor_7th .floor__dot:nth-child(4),
.floor_7th .floor__dot:nth-child(5),
.floor_7th .floor__dot:nth-child(22),
.floor_7th .floor__dot:nth-child(23){
	visibility: hidden;
}

.floor_7th .floor__dot:nth-child(6){
	animation: dots-hide 1s linear 0.3s forwards;
}
.floor_7th .floor__dot:nth-child(7){
	animation: dots-hide 1s linear 0.6s forwards;
}
.floor_7th .floor__dot:nth-child(8){
	animation: dots-hide 1s linear 0.9s forwards;
}
.floor_7th .floor__dot:nth-child(9){
	animation: dots-hide 1s linear 1.2s forwards;
}
.floor_7th .floor__dot:nth-child(10){
	animation: dots-hide 1s linear 1.5s forwards;
}
.floor_7th .floor__dot:nth-child(11){
	animation: dots-hide 1s linear 1.8s forwards;
}
.floor_7th .floor__dot:nth-child(12){
	animation: dots-hide 1s linear 2.1s forwards;
}
.floor_7th .floor__dot:nth-child(13){
	animation: dots-hide 1s linear 2.4s forwards;
}
.floor_7th .floor__dot:nth-child(14){
	animation: dots-hide 1s linear 2.7s forwards;
}
.floor_7th .floor__dot:nth-child(15){
	animation: dots-hide 1s linear 3s forwards;
}
.floor_7th .floor__dot:nth-child(16){
	animation: dots-hide 1s linear 3.3s forwards;
}
.floor_7th .floor__dot:nth-child(17){
	animation: dots-hide 1s linear 3.6s forwards;
}
.floor_7th .floor__dot:nth-child(18){
	animation: dots-hide 1s linear 3.9s forwards;
}
.floor_7th .floor__dot:nth-child(19){
	animation: dots-hide 1s linear 4.2s forwards;
}
.floor_7th .floor__dot:nth-child(20){
	animation: dots-hide 1s linear 4.5s forwards;
}
.floor_7th .floor__dot:nth-child(21){
	animation: dots-hide 1s linear 4.8s forwards;
}
.floor_7th .floor__dot:nth-child(24){
	animation: dots-hide 1s linear 7.7s forwards;
}
.floor_7th .floor__dot:nth-child(25){
	animation: dots-hide 1s linear 8.0s forwards;
}
.floor_7th .floor__dot:nth-child(26){
	animation: dots-hide 1s linear 8.3s forwards;
}

@keyframes dots-hide {
	0%{opacity: 1;}
	100%{opacity: 0;}
}



/*================================8=======================*/
.floor_8th{
	bottom: 171px;
}
.floor_8th .floor__dot{
	visibility: hidden;
}
.floor_8th .floor__dot:nth-child(1),
.floor_8th .floor__dot:nth-child(6),
.floor_8th .floor__dot:nth-child(12),
.floor_8th .floor__dot:nth-child(15),
.floor_8th .floor__dot:nth-child(21),
.floor_8th .floor__dot:nth-child(26){
	visibility: visible;
}
.floor_8th .floor__dot:nth-child(1),
.floor_8th .floor__dot:nth-child(26){
	transform: scale(2.5);
	border-radius: 35%;
	opacity: 0;
	animation:game-over 0.3s ease infinite alternate forwards 0.5s;
}
.floor_8th .floor__dot:nth-child(26){
	animation: game-over 0.3s ease infinite alternate forwards 0.5s, dots-hide 1s linear 8.8s forwards;
}
.floor_8th .floor__dot:nth-child(15){
	animation: dots-hide 1s linear 13.5s forwards;
}
.floor_8th .floor__dot:nth-child(6){
	animation: dots-hide 1s linear 17.5s forwards;
}
.floor_8th .floor__dot:nth-child(21){
	animation: dots-hide 1s linear 35.6s forwards;
}
/*================================9=======================*/
.floor_9th{
	bottom: 196px;
}
.floor_9th .floor__dot{
	visibility: hidden;
}
.floor_9th .floor__dot:nth-child(1),
.floor_9th .floor__dot:nth-child(6),
.floor_9th .floor__dot:nth-child(12),
.floor_9th .floor__dot:nth-child(15),
.floor_9th .floor__dot:nth-child(21),
.floor_9th .floor__dot:nth-child(26){
	visibility: visible;
}
.floor_9th .floor__dot:nth-child(26){
	animation: dots-hide 1s linear 9.1s forwards;
}
.floor_9th .floor__dot:nth-child(15){
	animation: dots-hide 1s linear 13.2s forwards;
}
.floor_9th .floor__dot:nth-child(6){
	animation: dots-hide 1s linear 17.8s forwards;
}
.floor_9th .floor__dot:nth-child(21){
	animation: dots-hide 1s linear 35.3s forwards;
}
/*================================10=======================*/
.floor_10th{
	bottom: 220px;
}
.floor_10th .floor__dot{
	visibility: visible;
}

.floor_10th .floor__dot:nth-child(13),
.floor_10th .floor__dot:nth-child(14){
	visibility: hidden;
}
.floor_10th .floor__dot:nth-child(26){
	animation: dots-hide 1s linear 9.4s forwards;
}
.floor_10th .floor__dot:nth-child(25){
	animation: dots-hide 1s linear 9.7s forwards;
}
.floor_10th .floor__dot:nth-child(24){
	animation: dots-hide 1s linear 10s forwards;
}
.floor_10th .floor__dot:nth-child(23){
	animation: dots-hide 1s linear 10.3s forwards;
}
.floor_10th .floor__dot:nth-child(22){
	animation: dots-hide 1s linear 10.7s forwards;
}
.floor_10th .floor__dot:nth-child(21){
	animation: dots-hide 1s linear 11s forwards;
}
.floor_10th .floor__dot:nth-child(20){
	animation: dots-hide 1s linear 11.3s forwards;
}
.floor_10th .floor__dot:nth-child(19){
	animation: dots-hide 1s linear 11.7s forwards;
}
.floor_10th .floor__dot:nth-child(18){
	animation: dots-hide 1s linear 12.0s forwards;
}
.floor_10th .floor__dot:nth-child(17){
	animation: dots-hide 1s linear 12.3s forwards;
}
.floor_10th .floor__dot:nth-child(16){
	animation: dots-hide 1s linear 12.6s forwards;
}
.floor_10th .floor__dot:nth-child(15){
	animation: dots-hide 1s linear 12.9s forwards;
}
.floor_10th .floor__dot:nth-child(6){
	animation: dots-hide 1s linear 18.2s forwards;
}
/*================================11=======================*/
.floor_11th{
	bottom: 244px;
}
.floor_middle .floor__dot{
	visibility: hidden;
}

.floor_middle .floor__dot:nth-child(6),
.floor_middle .floor__dot:nth-child(21){
	visibility: visible;
}
.floor_11th .floor__dot:nth-child(6){
	animation: dots-hide 0.5s linear 18.8s forwards;
}
.floor_11th .floor__dot:nth-child(21){
	animation: dots-hide 1s linear 34.7s forwards;
}
/*================================12=======================*/
.floor_12th{
	bottom: 269px;
}
.floor_12th .floor__dot:nth-child(6){
	animation: dots-hide 0.5s linear 19.0s forwards;
}
.floor_12th .floor__dot:nth-child(21){
	animation: dots-hide 1s linear 34.3s forwards;
}
/*================================13=======================*/
.floor_13th{
	bottom: 269px;
}
.floor_13th .floor__dot:nth-child(6){
	animation: dots-hide 0.5s linear 19.7s forwards;
}
.floor_13th .floor__dot:nth-child(21){
	animation: dots-hide 1s linear 34.0s forwards;
}
/*================================14=======================*/
.floor_14th{
	bottom: 294px;
}
.floor_14th .floor__dot:nth-child(6){
	animation: dots-hide 0.5s linear 20.1s forwards;
}
.floor_14th .floor__dot:nth-child(21){
	animation: dots-hide 1s linear 33.7s forwards;
}
/*================================15=======================*/
.floor_15th{
	bottom: 318px;
}
.floor_15th .floor__dot:nth-child(6){
	animation: dots-hide 0.5s linear 20.3s forwards;
}

.floor_15th .floor__dot:nth-child(21){
	animation: dots-hide 1s linear 33.3s forwards;
}
/*================================16=======================*/
.floor_16th{
	bottom: 343px;
}
.floor_16th .floor__dot:nth-child(6){
	animation: dots-hide 0.5s linear 20.6s forwards;
}
.floor_16th .floor__dot:nth-child(21){
	animation: dots-hide 1s linear 33.0s forwards;
}
/*================================17=======================*/
.floor_17th{
	bottom: 367px;
}
.floor_17th .floor__dot:nth-child(6){
	animation: dots-hide 0.5s linear 20.9s forwards;
}
.floor_17th .floor__dot:nth-child(21){
	animation: dots-hide 0.5s linear 32.8s forwards;
}
/*================================18=======================*/
.floor_18th{
	bottom: 391px;
}
.floor_18th .floor__dot:nth-child(6){
	animation: dots-hide 0.5s linear 21.2s forwards;
}
.floor_18th .floor__dot:nth-child(21){
	animation: dots-hide 0.5s linear 32.5s forwards;
}
/*================================19=======================*/
.floor_19th{
	bottom: 416px;
}
.floor_19th .floor__dot:nth-child(6){
	animation: dots-hide 0.5s linear 21.5s forwards;
}
.floor_19th .floor__dot:nth-child(21){
	animation: dots-hide 0.5s linear 32.1s forwards;
}
/*================================20=======================*/
.floor_20th{
	bottom: 440px;
}
.floor_20th .floor__dot:nth-child(6){
	animation: dots-hide 0.5s linear 21.8s forwards;
}
.floor_20th .floor__dot:nth-child(21){
	animation: dots-hide 0.5s linear 31.6s forwards;
}
/*================================21=======================*/
.floor_21st{
	bottom: 464px;
}
.floor_21st .floor__dot:nth-child(6){
	animation: dots-hide 0.5s linear 22.2s forwards;
}
.floor_21st .floor__dot:nth-child(21){
	animation: dots-hide 0.5s linear 31.3s forwards;
}
/*================================22=======================*/
.floor_22nd{
	bottom: 489px;
}
.floor_22nd .floor__dot:nth-child(6){
	animation: dots-hide 0.5s linear 22.7s forwards;
}
.floor_22nd .floor__dot:nth-child(21){
	animation: dots-hide 0.5s linear 29.8s forwards;
}
.floor_22nd .floor__dot:nth-child(21){
	animation: dots-hide 0.5s linear 31.0s forwards;
}
/*================================23=======================*/
.floor_23rd{
	bottom: 513px
}
.floor_23rd .floor__dot{
	visibility: visible;
}
.floor_23rd .floor__dot:nth-child(7),
.floor_23rd .floor__dot:nth-child(8),
.floor_23rd .floor__dot:nth-child(13),
.floor_23rd .floor__dot:nth-child(14),
.floor_23rd .floor__dot:nth-child(19),
.floor_23rd .floor__dot:nth-child(20){
	visibility: hidden;
}
.floor_23rd .floor__dot:nth-child(6){
	animation: dots-hide 1s linear 23.0s forwards;
}
.floor_23rd .floor__dot:nth-child(21){
	animation: dots-hide 0.5s linear 30.7s forwards;
}
/*================================24=======================*/
.floor_24th{
	bottom: 538px;
}
.floor_24th .floor__dot{
	visibility: hidden;
}
.floor_24th .floor__dot:nth-child(1),
.floor_24th .floor__dot:nth-child(6),
.floor_24th .floor__dot:nth-child(9),
.floor_24th .floor__dot:nth-child(18),
.floor_24th .floor__dot:nth-child(21),
.floor_24th .floor__dot:nth-child(26){
	visibility: visible;
}
.floor_24th .floor__dot:nth-child(6){
	animation: dots-hide 1s linear 23.4s forwards;
}
.floor_24th .floor__dot:nth-child(21){
	animation: dots-hide 0.5s linear 30.2s forwards;
}
/*================================25=======================*/
.floor_25th{
	bottom: 563px;
}
.floor_25th .floor__dot{
	visibility: hidden;
}
.floor_25th .floor__dot:nth-child(1),
.floor_25th .floor__dot:nth-child(6),
.floor_25th .floor__dot:nth-child(9),
.floor_25th .floor__dot:nth-child(18),
.floor_25th .floor__dot:nth-child(21),
.floor_25th .floor__dot:nth-child(26){
	visibility: visible;
}
.floor_25th .floor__dot:nth-child(6){
	animation: dots-hide 1s linear 23.6s forwards;
}
.floor_25th .floor__dot:nth-child(21){
	animation: dots-hide 1s linear 29.7s forwards;
}
/*================================26=======================*/
.floor_26th{
	bottom: 587px;
}
.floor_26th .floor__dot:nth-child(6){
	animation: dots-hide 1s linear 24.2s forwards;
}
.floor_26th .floor__dot:nth-child(7){
	animation: dots-hide 1s linear 24.5s forwards;
}
.floor_26th .floor__dot:nth-child(8){
	animation: dots-hide 1s linear 24.8s forwards;
}
.floor_26th .floor__dot:nth-child(9){
	animation: dots-hide 1s linear 25.1s forwards;
}
.floor_26th .floor__dot:nth-child(10){
	animation: dots-hide 1s linear 25.4s forwards;
}
.floor_26th .floor__dot:nth-child(11){
	animation: dots-hide 1s linear 25.7s forwards;
}
.floor_26th .floor__dot:nth-child(12){
	animation: dots-hide 1s linear 26s forwards;
}
.floor_26th .floor__dot:nth-child(13){
	animation: dots-hide 1s linear 26.4s forwards;
}
.floor_26th .floor__dot:nth-child(14){
	animation: dots-hide 1s linear 26.7s forwards;
}
.floor_26th .floor__dot:nth-child(15){
	animation: dots-hide 1s linear 27.0s forwards;
}
.floor_26th .floor__dot:nth-child(16){
	animation: dots-hide 1s linear 27.3s forwards;
}
.floor_26th .floor__dot:nth-child(17){
	animation: dots-hide 1s linear 27.6s forwards;
}
.floor_26th .floor__dot:nth-child(18){
	animation: dots-hide 1s linear 27.9s forwards;
}
.floor_26th .floor__dot:nth-child(19){
	animation: dots-hide 1s linear 28.2s forwards;
}
.floor_26th .floor__dot:nth-child(20){
	animation: dots-hide 1s linear 28.5s forwards;
}
.floor_26th .floor__dot:nth-child(21){
	animation: dots-hide 1s linear 28.8s forwards;
}
/*================================27=======================*/
.floor_27th{
	bottom: 611px;
}
.floor_27th .floor__dot{
	visibility: hidden;
}
.floor_27th .floor__dot:nth-child(1),
.floor_27th .floor__dot:nth-child(6),
.floor_27th .floor__dot:nth-child(12),
.floor_27th .floor__dot:nth-child(15),
.floor_27th .floor__dot:nth-child(21),
.floor_27th .floor__dot:nth-child(26){
	visibility: visible;
}
/*================================28=======================*/
.floor_28th{
	bottom: 636px;
}
.floor_28th .floor__dot{
	visibility: hidden;
}
.floor_28th .floor__dot:nth-child(1),
.floor_28th .floor__dot:nth-child(6),
.floor_28th .floor__dot:nth-child(12),
.floor_28th .floor__dot:nth-child(15),
.floor_28th .floor__dot:nth-child(21),
.floor_28th .floor__dot:nth-child(26){
	visibility: visible;
}
.floor_28th .floor__dot:nth-child(1),
.floor_28th .floor__dot:nth-child(26){
	transform: scale(2.5);
	border-radius: 35%;
	opacity: 0;
	animation:game-over 0.3s ease infinite alternate forwards 0.5s;
}
/*================================29=======================*/
.floor_29th{
	bottom: 660px;
}
.floor_29th .floor__dot{
	visibility: hidden;
}
.floor_29th .floor__dot:nth-child(1),
.floor_29th .floor__dot:nth-child(6),
.floor_29th .floor__dot:nth-child(12),
.floor_29th .floor__dot:nth-child(15),
.floor_29th .floor__dot:nth-child(21),
.floor_29th .floor__dot:nth-child(26){
	visibility: visible;
}
/*================================30=======================*/
.floor_30th{
	top:0;
}
.floor_30th .floor__dot{
	visibility: visible;
}

.floor_30th .floor__dot:nth-child(13),
.floor_30th .floor__dot:nth-child(14){
	visibility: hidden;
}
/*=========================================DOTS=======================================================*/